extends ../layout

block content
  br
  a(href='/#projects') Volver
  br
  table.table 
    thead 
      tr
        th(scope='col') #
        th(scope='col') Color
        th(scope='col') Modelo
        th(scope='col') Ubicacion
        th(scope='col' colspan='2') Acciones
    tbody 
      each bici in bicis 
        tr 
        td(scope='row')
          = bici.id 
        td=bici.color 
        td=bici.modelo
        td=bici.ubicacion
        td
          a(href='bicicletas/'+ bici.id + '/update') Editar
        td
          form.inline(method='post' action='bicicletas/' + bici.id + '/delete')
            input(type="hidden" name='id' value=bici.id)
            button.btn.btn-danger(type='submit' name='submit_param' value='submit_value') Eliminar
  div.container
    div.row
      div.col.align-items-end.o
        a.btn.btn-primary(href='/bicicletas/create') Nueva Bicicleta 

  // Bootstrap core JS
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js')
  // Core theme JS
  script(src='/javascripts/scripts.js')
  // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  // * *                               SB Forms JS                               * *
  // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
  // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
  script(src='/javascripts/map.js')