extends ../layout

block content
  a(href='/bicicletas') Volver
  br
  br
  br
  h1 Actualizando Bicicleta
  br
  br

  form(action=`/bicicletas/${bici.id}/update` method='post')
      label(for='id') ID: 
      input#id(type="text" name='id' value=bici.id)
      br
      label(for='color') Color: 
      input#color(type="text" name='color' value=bici.color)
      br 
      label(for='modelo') Modelo: 
      input#modelo(type="text" name='modelo' value=bici.modelo)
      br 
      label(for='lat') Latitud: 
      input#lat(type="text" name='lat' value=bici.ubicacion[0])
      br 
      label(for='long') Longitud: 
      input#long(type="text" name='long' value=bici.ubicacion[1])
      br
      input.btn.btn-primary(type='submit' value='Actualizar')
    

  // Bootstrap core JS
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js')
  // Core theme JS
  script(src='/javascripts/scripts.js')
  // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  // * *                               SB Forms JS                               * *
  // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
  // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
  script(src='/javascripts/map.js')